<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.joyoungc.web.admin.dao.AdminDao">

	<!-- 관리자 조회 -->
	<select id="getAdmin" parameterType="String" resultType="Admin">
		SELECT /* [admin/admin-mapper.xml] getAdmin */ 
			USER_ID AS adminName,
			PASSWORD,
			ENABLED
		  FROM TB_USER
         WHERE USER_ID = #{adminName}
	</select>
	
	<!-- 관리자 목록 조회 -->
	<select id="selectAdmins" resultType="Admin">
		SELECT /* [admin/admin-mapper.xml] getAdmin */ 
			USER_ID AS adminName,
			PASSWORD,
			ENABLED
		  FROM TB_USER
	</select>	
	
	<!-- 사용자 조회 -->
	<select id="getUserByUSER_ID" parameterType="String" resultType="User">
		SELECT /* [admin/admin-mapper.xml] getUserByUSER_ID */ 
			USER_ID,
			PASSWORD,
			ENABLED
		  FROM TB_USER
         WHERE USER_ID = #{USER_ID}
	</select>
	
</mapper>